body {
    text-align: center;
    font-family: Lato, Helvetica, sans-serif;
    background: rgba(0,0,0,0.05);
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    /* background-position: */
    /* background-image: url(https://source.unsplash.com/SJSpo9hQf7s);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}
html {
	height: 100%;
}
::selection 
{
    background-color: rgba(139,85,168,0.2);
    color: #FFF;
}
h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0.2em;
}
/* Adapted from (https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/) */
hr.rainbow {
    border: 0;
    height: 1px;
    width: 50%;
    background: black;
    background: -webkit-linear-gradient(-45deg, #FF0000 0%,#FFFF00 25%,#00FF00 50%,#00FFFF 75%,#0000FF 100%);
}
.container {
    /* margin: 0 5px 0 5px; */
}
.container>div>#options {
    border: 1px black solid;
    border-radius: 15px;
    background: rgba(139,85,168,0.3);
    padding-bottom: 15px;
    max-width: 100%;
    text-align: center;
}
.container>div>#design-canvas {
}
#sizePicker>div {
    margin: 5px 0 5px 0;
}
iframe, object, embed {
    margin-top: 10px;
    max-width: 100%;
}
h2 {
    margin: 1em 0 0.25em;
}
h2:first-of-type {
    margin-top: 0.5em;
}
table, tr, td {
    border: 1px solid black;
    background-color: white;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
tr {
    height: 20px;
}
td {
    width: 20px;
}
input[type=number] {
    width: 6em;
}